.pages-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
}
.header-box {
	flex-shrink: 0;
	height: 45px;
}
.header {
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #eaeaea;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.header>ul {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.header>ul>li {
	height: 45px;
	line-height: 45px;
}

.header>ul>li>h4 {
	font-weight: normal;
	font-size:20px;
}
.header>ul>li>a>.return {
	width: 35px;
	margin-top: 5px;
}
.header>ul>.open-box {
	width: 20px;
}

/*内容*/
.content {
	flex-grow: 1;
	position: relative;
}
.content>.address-box {
	height: 96px;
	padding: 0 10px;
	/* display: none; */
	background-color: #FFFFFF;
}
.content>.address-box>.full-phone {
	height: 45px;
	line-height: 45px;
	padding: 0 32px;
	font-weight: 800;
}
.content>.address-box>.full-phone>span {
	font-size: 16px;
	color: #000;
}
.content>.address-box>.full-phone>span.name {
	color: #333;
}
.content>.address-box>.full-phone>span.phone {
	float: right;
}
.content>.address-box>.goods-address-box {
	padding: 0 32px;
	color: #4a4a4a;
	font-size: 15px;
}
.content>.address-box>.goods-address-box>span.detailed {
	color: #333333;
}
.content>.empty {
	height: 96px;
	text-align: center;
	line-height: 90px;
	background-color: #FFFFFF;
	display: none;
}
.content>.empty>img {
	width: 15px;
}
.content>.empty-t {
	margin-top: -15px;
	display: none;
}
.content>.empty-t>img {
	width: 100%;
}
.content>.bc-di {
	margin-top: -15px;
}
.content>.bc-di>img {
	width: 100%;
}
.content>.right-arrow {
	position: absolute;
	right: 10px;
	top: 68px;
}
.content>.right-arrow>img {
	width: 20px;
	height: 20px;
}
.content>.left-address {
	position: absolute;
	top: 56px;
	left: 10px;
}
.content>.left-address>img {
	width: 27px;
}
.content>.payment-box {
	background-color: #FFFFFF;
}
.content>.payment-box>.payment {
	padding: 0 18px;
	display: flex;
	justify-content: space-between;
	height: 54px;
	line-height: 54px;
}
.content>.payment-box>.payment>.mode {
	color: #4a4a4a;
}
.content>.payment-box>.payment>.on-line {
	color: #333333;
	font-weight: 800;
}

.content>.delivery-box {
	padding: 0 18px;
	background-color: #FFFFFF;
	margin-top: 10px;
}

.content>.delivery-box>div>.delivery {
	height: 54px;
	line-height: 54px;
	font-size: 16px;
	color: #4A4A4A;
	display: flex;
	justify-content: space-between;
}
.content>.delivery-box>.delivery-address>ul.list {
	padding: 10px;
}

.content>.delivery-box>.delivery-address>ul.list>li {
	display: flex; padding-bottom: 10px;
}

.content>.delivery-box>.delivery-address>ul.list>li>div>img {
	width: 80px; flex-shrink: 0;
}
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box {
	font-size: 14px; flex-grow: 1; overflow: hidden; 
	margin-left: 10px;
}
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box .product-name {
	font-weight: bold; color: #333333; 
}
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box>.remark {
	font-size: 12px; padding: 10px 0;
}
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box .product-price,
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box>.product-price-box{
	font-size: 20px; color: #F4364C;
	margin-top: 10px;
	font-style: normal;
}
.content>.delivery-box>.delivery-address>ul.list>li>.describe-box .product-count {
	margin-top: 10px;
	font-style: normal;
}

.content>.discount-box>ul {
	margin-top: 10px;
}
.content>.discount-box>ul>li {
	height: 54px;
	background-color: #FFFFFF;
	line-height: 54px;
	padding: 0 18px;
	color: #4a4a4a;
	font-size: 15px;
}
.content>.discount-box>ul>li.invoice {
	display: flex;
	justify-content: space-between;
}
.content>.discount-box>ul>li>.red {
	color: #F4364C;
	font-weight: 800;
}
.content>.discount-box>ul>li em {
	font-style: normal;
	color: #333333;
}
.content>.discount-box>ul>li>span.choice {
	color: #808080;
	float: right;
}
.content>.discount-box>ul>li>img {
	width: 20px;
	height: 20px;
	margin-top: 18px;
	float: right;
}

.content>.order-box {
	margin-top: 10px;
	background-color: #FFFFFF;
	padding-top: 15px;
}
.content>.order-box>p,
.content>.order-box>div {
	padding: 0 18px;
}
.content>.order-box>div {
	text-align: center;
}
.content>.order-box .input {
	width: 360px;
	height: 66px;
	outline: none;
	background-color: #f7f7f7;
	margin: 10px 0;
	border: none;
	border-radius: 10px;
	padding: 13px;
	resize: none;
}
.content>.order-box  .service {
	margin: 15px 0;
	background-color: #f7f7f7;
	border-radius: 10px;
	padding: 13px;
	outline: none;
	height: 20px;
	width: 360px;
	border: none;
	resize: none;
}
::placeholder {
	color: #CCCCCC;
	font-size: 16px;
}
.content>.money-box {
	margin-top: 10px;
	padding-bottom: 55px;
}
.content>.money-box>ul {
	padding: 0 18px;
}
.content>.money-box>ul>li {
	height: 40px;
	line-height: 40px;
	color: #4a4a4a;
	display: flex;
	justify-content: space-between;
}
.content>.money-box>ul>li>.rate,
.freight {
	color: #F4364C;
	font-weight: 800;
}
.content>.money-box>ul>li>span {
	font-weight: 800;
}
.content>.money-box>ul>li .actual {
	color: #000;
	font-weight: 800;
}

	
	/*页脚*/
.footer {
	height: 55px;
	flex-shrink: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
}
.footer >.price-box {
	margin-right: 10px;
	line-height: 25px;
	text-align: right;
}
.footer >.price-box>p>span {
	color: #F4364C;
	font-size: 18px;
}
.footer >.price-box>.province>span{
	font-size: 15px;
	font-weight: 800;
}
.footer >.price-box>.real {
	font-weight: 800;
}
.footer >.price-box>.province {
	font-size: 13px;
	color: #333333;
}

.footer >.btn-box>button {
	height: 55px;
	width: 115px;
	background-color: #F4364C;
	color: #FFFFFF;
	font-size: 20px;
}