.page-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}
.header>.header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background: linear-gradient(-134deg, #F4364C 0%, #FF8200 97%);
	padding: 0 10px;
}
.header>.header-title>a>img{
	width: 25px;
}
.header>.header-title>input {
	width: 70%;
	border-radius: 20px;
	height: 30px;
	background: #FFFFFF url(search1.png) no-repeat left;
	background-size: 30px 30px;
	padding-left: 30px;
	margin: 0 5px;
}
.header>.header-title>span {
	color: #FFFFFF;
	font-size: 14px;
}
.header>.header-title>.delete {
	position: relative;
}
.header>.header-title>.delete>img {
	width: 15px;
	position: absolute;
	bottom: -7px;
	right: 18px;
}
.header>.login-box {
	background-color: #FFFFFF;
}
.header>.login-box>.title-box {
	display: flex;
	justify-content: space-between;
}
.header>.login-box>.title-box>li {
	width: 25%;
	text-align: center;
	font-size: 13px;
	color: #808080;
	height: 40px;
	line-height: 40px;
}
.header>.login-box>.title-box>.price {
	position: relative;
}
.header>.login-box>.title-box>li>i {
	margin-left: 3px;
}
.header>.login-box>.title-box>li>i>img {
	width: 8px;
}
.header>.login-box>.title-box>li>.top{
	position: absolute;
	top: -7px;
}
.header>.login-box>.title-box>li>.shaixuan>img {
	width: 11px;
}
/* 内容 */
.content {
	height: 100%;
	flex-grow: 1;
	margin-top: 110px;
	overflow: hidden; /* iscroll插件要求 */
	touch-action: pan-y;   /*消除iscroll滚动的警告*/
}

.content ul.list>li>a {
	display: flex;
	color: #000;
}
.info{
	text-align: center;
}

.content ul.list>li>a .list-item-detail {
	width: 65%;
	padding-left: 10px;
	box-sizing: border-box;
}

.content ul.list>li>a h4 {
	font-size: 13px;
	font-weight: normal;
}

.content ul.list>li>a p {
	font-size: 12px;
	color: #808080;
	overflow: hidden;
}

.content ul.list>li>a>.avatar {
	width: 120px;
}
.list-item-detail .price {
	font-size: 15px;
	color: #f4364c;
}
.rate {
	font-size: 12px;
	color: #808080;
}